.bio {
    width: 100%;
    background-color: $white;
    padding-bottom: 50px;
    .bioFlex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .headshot {
        width: 30%;
        img {
          border-radius: 50%;
        }
    }
    .bioContent {
        width: 60%;
        padding: 40px;
        border-radius: 5px;
        color: $black;
        p:first-child {
            margin-bottom: 20px;
        }
    }
    h2 {
        font-size: 50px;
        padding: 50px 0;
        font-weight: 700;
        text-align: center;
        color: $black;
        font-family: 'Montserrat', sans-serif;
    }
    p {
        font-size: 18px;
        line-height: 1.7;
    }
}

//MEDIA QUERIES
@media(max-width: 1000px) {
  .bio {
    .bioFlex {
      flex-direction: column;
      .bioContent {
        width: 100%;
        text-align: center;
      }
    }
    .headshot {
      width: 40%;
    }
  }
}

@media(max-width: 600px) {
  .bio {
    p {
      font-size: 14px;
    }
    h2 {
      font-size: 30px;
    }
  }
}