.contact {
    .contactFlex {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
        .getInTouch {
            width: 50%;
            display: flex;
            flex-direction: column;
            h2 {
                font-size: 30px;
                margin: 20px 0;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
            }
            p {
                margin-bottom: 20px;
            }
            .contactContent form {
                display: flex;
                flex-direction: column;
            }
            .contactContent input[type = "text"] {
                width: 70%;
                margin-bottom: 20px;
                padding: 10px;
                font-size: 14px;
            }
            .contactContent input[type = "submit"] {
                width: 35%;
                padding: 15px 10px;
                background-color: $black;
                color: $white;
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 20px;
                border-radius: 5px;
            }
            .inputContainer {
                width: 100%;
            }
        }
        .social, .connectWithUs {
            h4 {
                font-size: 25px;
                margin: 20px 0;
                font-weight: 700;
                font-family: 'Montserrat', sans-serif;
            }
        }
        .social {
            .icons a {
                text-decoration: none;
                color: $black;
                font-size: 18px;
                margin-right: 10px;
                &:hover {
                    color: $blackAlpha;
                }
            }
            .icons i {
                margin-right: 5px; 
            }
        }
        .connectWithUs p {
            line-height: 1.7;
        }
        .connectWithUs a {
            text-decoration: none;
            color: $black;
            &:hover {
                color: $blackAlpha;
            }
        }
        .contactInfo {
            width: 40%;
            display: flex;
            flex-direction: column;
        }
    }
}