.contact {
    .contactFlex {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
        .getInTouch {
            width: 50%;
            display: flex;
            flex-direction: column;
            h2 {
                font-size: 30px;
                margin: 20px 0;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                color: $black;
            }
            p {
                margin-bottom: 20px;
                color: $black;
            }
            .contactContent form {
                display: flex;
                flex-direction: column;
            }
            .contactContent input[type = "text"] {
                width: 70%;
                margin-bottom: 20px;
                padding: 10px;
                font-size: 14px;
            }
            .contactContent input[type = "submit"] {
                width: 35%;
                padding: 15px 10px;
                background-color: $black;
                color: $white;
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 20px;
                border-radius: 5px;
                cursor: pointer;
                display: inline-block;
                &:hover {
                  background-color: $blackAlpha;
                }
            }
            .inputContainer {
                width: 100%;
            }
        }
        .connectWithUs {
          h4 {
              font-size: 25px;
              margin: 20px 0;
              font-weight: 700;
              color: $black;
              width: 100%;
              font-family: 'Montserrat', sans-serif;
          }
          p {
            color: $black;
          }
        }
        .social {
          margin-top: 10px;
          h4 {
            font-size: 25px;
            margin-top: 20px;
            font-weight: 700;
            color: $black;
            width: 100%;
            font-family: 'Montserrat', sans-serif;
          }
          .icons {
            margin-top: 20px;
          }
          .icons a {
              text-decoration: none;
              color: $black;
              font-size: 18px;
              margin-right: 10px;
              &:hover {
                  color: $blackAlpha;
              }
          }
          .icons i {
              margin-right: 5px; 
          }
        }
        .contactInfo {
          .connectWithUs { 
            width: 100%;
            p {
              line-height: 1.7;
            } 
            a {
            text-decoration: none;
            color: $black;
            margin-top: 5px;
            display: inline-block;
            border-bottom: 1px solid $black;
              &:hover {
                  color: $blackAlpha;
                  border-bottom: 1px solid $blackAlpha;
              }
            }
          }
        }
        .contactInfo {
            width: 40%;
            display: flex;
            flex-direction: column;
        }
    }
}

//MEDIA QUERIES

@media(max-width: 1000px) {
  .inputContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .contact {
    .contactFlex {
      flex-direction: column-reverse;
      align-items: center;
      .getInTouch {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 20px;
        h2 {
          font-size: 25px;
        }
        .contactContent input[type = "text"] {
          width: 80%;
          padding: 10px 5px;
        }
        .contactContent input[type = "submit"] {
          margin: 0 auto;
          display: block;
        }
      }
      .contactInfo {
        width: 100%;
        text-align: center;
      }
      .social {
          width: 100%;
          margin-top: 20px;
          .icons {
            justify-content: center;
            margin-top: 0;
            a {
              display: inline-block;
              margin-top: 20px;
            }
          }
        .connectWithUs {
            width: 100%;
          }
        }
    }
  }
}

@media(max-width: 340px) {
  .contact {
    .contactFlex {
      .contactInfo {
        .connectWithUs a {
          font-size: 14px;
        }
      }
    }
  }
}