header {
    height: 100vh;
    background-image: url('../../../assets/images/fortify.png');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    .navWrapper {
        display: flex;
        align-items: center;
        padding: 20px 0;
        justify-content: space-between;
    }
}
.hamburgerContainer {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}
.sidebar {
    position: fixed;
    top: 90px;
    right: -30%;
    background-color: $white;
    width: 30%;
    height: 100%;
    transition: all 0.6s ease;
}
.active {
    right: 0;
}
.navUl {
      margin: 0;
      padding: 20px 0;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .navUl li {
        list-style: none;
        width: 90%;
        display: flex;
        justify-content: flex-end;
        i {
          font-size: 25px;
        }
    }
    .navUl li a {
      text-decoration: none;
      margin-top: 20px;
      margin-left: 40px;
      padding-bottom: 20px 0;
      font-size: 18px;
      font-weight: 500;
      color: $black;
      display: block;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid transparent;
      padding-bottom: 20px;
      transition: 0.2s all ease;
    }
.fortifyImageHeader {
    width: 10%;
    display: flex;
    align-items: center;
    img {
        max-width: 50%;
    }
}
nav {
    width: 100%;
    height: 60%;
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}
.backgroundActive {
    background:rgba(0, 0, 0, 0.9);
    display: none;
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
    transition: 5s all ease;
    z-index:5;
}
.mainNav {
    background-color: $white;
    position: fixed;
    width: 100%;
    padding: 10px 0;
    z-index: 10;
    top: 0;
}

.scrollDown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: $black;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    z-index: 1;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
    transition: 0.2s all ease;
    &:hover {
      color: $blackAlpha;
    }
    i {
        margin-top: 5px;
    }
}

// MEDIA QUERIES

@media (max-width: 1100px) {
  header {
    background-image: url('../../../assets/images/fortify2.png');
  }
}

@media(max-width: 777px) {
  header {
    background-size: contain;
  }
  .sidebar {
      position: fixed;
      right: -40%;
      width: 40%;
  }
  .active {
    right: 0;
  }
  .fortifyImageHeader {
    display: none;
  }
  .hamburgerContainer {
    justify-content: flex-end;
  }
}

@media(max-width: 600px) {
  .sidebar {
      position: fixed;
      right: -60%;
      width: 60%;
  }
  .active {
    right: 0;
  }
  .navUl li a {
    font-size: 14px;
  }
}

@media(max-width: 500px) {
  .navUl {
    li {
      i {
        font-size: 14px;
      }
    }
  }
}

@media(max-width: 320px) {
  .navUl {
    li {
      a {
        margin-top: 10px;
      }
    }
  }
}