.philosophy {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../../../assets/images/frontLunge.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    h2 {
        font-size: 50px;
        text-align: center;
        padding: 30px 0;
        color: $white;
    }
    p {
        font-size: 18px;
        line-height: 1.5;
        color: $white;
        text-align: center;
    }
    .philosophyContent {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}