.services {
    width: 100%;
    min-height: calc(100vh - 90px);
    padding-top: 90px;
    background-color: $black;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
    h2 {
        font-size: 50px;
        text-align: center;
        color: $white;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }
    p {
        font-size: 18px;
        line-height: 1.7;
        color: $white;
        margin-bottom: 20px;
        text-align: center;
    }
    .servicesContent {
        display: flex;
        justify-content: space-between;
        position: relative;
        height: calc(100vh - 240px);
        width: 100%;
    }
    .YTF {
        background-color:red; 
    }
    .APT {
        background-color: yellow;
    }
    .STP {
        background-color: white;
    }
    .TT {
        background-color: green;
    }
    .backgroundGradient {
        padding: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .description {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        h3 {
            font-size: 20px;
            text-align: center;
            font-weight: 600;
        }
        a {
            text-decoration: none;
            margin-top: 20px;
            padding: 10px 25px;
            background-color: $black;
            border-radius: 5px;
            color: #fff;
            text-transform: uppercase;
            transition: 0.2s all ease;
            &:hover {
                background-color: $blackAlpha;
            }
        }
    }
}

//MEDIA QUERIES

@media(max-width: 600px) {
  .services {
    p {
      font-size: 14px;
    }
    h2 {
      font-size: 30px;
    }
  }
}