.services {
    width: 100%;
    min-height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../../../assets/images/sledPush.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    h2 {
        font-size: 50px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
        color: $white;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }
    p {
        font-size: 18px;
        line-height: 1.7;
        color: $white;
        margin-bottom: 20px;
        text-align: center;
    }
    .servicesContent {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .backgroundGradient {
        background-color: $blackAlpha;
        padding: 30px;
        border-radius: 5px;
        margin: 20px 0;
    }
}

//MEDIA QUERIES

@media(max-width: 600px) {
  .services {
    p {
      font-size: 14px;
    }
    h2 {
      font-size: 30px;
    }
  }
}